<!DOCTYPE html>
<html>
  <head>
    <title>SplitBuys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url('favicons/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url('favicons/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url('favicons/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_url('favicons/site.webmanifest') %>">

    <meta name="author" content="Dominic Swaby">
    <meta property="og:title" content="Split Buys" />
    <meta name="image" property="og:image" content="<%= image_url('add_expense_screenshot_1.png') %>"/>
    <meta property="og:description"
       content="A fullstack Splitwise clone built with Rails-React-Redux which allows user to add and manage shared expenses with friends."
    />
    <meta property="og:url"
       content="http://splitbuys.herokuapp.com/"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X4Q8JC6HTT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X4Q8JC6HTT');
</script>

    <script type="text/javascript">
      window.app_store_pic = "<%= image_url('right_sidebar/app_store_pic.png') %>"
      window.google_play_pic = "<%= image_url('right_sidebar/google_play_pic.png') %>"
      window.flag_icon = "<%= image_url('left_sidebar/flag-icon.png') %>"
      window.green_airplane = "<%= image_url('green_airplane.png') %>"
      window.addExpenses = "<%= image_url('homepage/add-expenses-pic.png') %>"
      window.balance = "<%= image_url('homepage/balance-pic.png') %>"
      window.expenses = "<%= image_url('homepage/expenses-pic.png') %>"
      window.extras = "<%= image_url('homepage/extras-pic.png') %>"
      window.payBack = "<%= image_url('homepage/pay-back-pic.png') %>"
      window.logo = "<%= image_url('split-wise-logo.png') %>"
      window.greenCheck = "<%= image_url('green_check.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

